# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers système Windows
AppData/
Local Settings/
Cookies/
Temp/
*.tmp
Thumbs.db
desktop.ini

# IDE / Editor files
.idea/
.vscode/
*.iml

# Firebase
.firebase/
.firebaserc

# Build folders
dist/
build/
out/

# OS files
.DS_Store

# Android / Gradle
.gradle/
*.apk
*.keystore
*.log

# Ignore site content if you want to rebuild it
# site/
